body{
  box-sizing: border-box;
  margin: 0;
}


.container{
  max-width : 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (max-width: 800px){
  .container{
    margin: 0 auto;
    padding: 0 40px;
  }
}

@media only screen and (max-width: 480px){
  .container{
    margin: 0 auto;
    padding: 0 30px;
  }
}