.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 46px;
    text-transform: uppercase;
    color: #55A630;
}

.hero-wrap{
    margin-top: 75px;
}
.hero-wrap__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    color: #424242;
    opacity: 0.8;

    max-width: 1036px;
    margin: 0 auto;

    padding: 59px 15px 59px 25px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 10px rgba(207, 207, 207, 0.25);
}

.hero-images{
    margin-left: 30px;
}

@media only screen and (max-width: 1000px){
    .hero-title{
        font-size: 32px;
    }

    .hero-wrap__title{
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px){
    .hero-title{
        font-size: 21px;
    }

    .hero-wrap__title{
        font-size: 15px;
    }
}

@media only sceen and (max-width: 600px){
    .hero-title{
        font-size: 20px;
    }
    .hero-images{
        margin-left: 15px;
    }
   
}

@media only screen and (max-width: 480px){
    .hero{
        display: block;
    }
    .hero-images{
        margin-left: 0;
    }
    .hero-title{
        font-size: 20px;
        text-align: center;
    }
}